{% extends 'base.html' %}

{% block title %} {{PageName}} {% endblock %}

{% block content %}
<form action="register" method="POST">

    {% csrf_token %}

    Enter First Name: <input type="text", name='First_Name'><br>
    Enter Last Name: <input type="text", name='Last_Name'><br>
    Enter email: <input type="email", name='Email'><br>
    Enter Username: <input type="text", name='Username'><br>
    Enter Password: <input type="password", name='Password'><br>
    Confirm Password: <input type="password", name='Confirm_Password'><br>

    {% for message in messages %}
        {{message}}<br>
    {% endfor %}
    <input type="submit">
</form>
{% endblock %}
