*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-image: url('/static/images/BlueGradient.png');
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    width: 400px;
    background: white;
    padding: 60px 40px;
}

.container header{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

.container Form .Input-Field, .button{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}

.Input-Field input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}

input:focus{
    border: 1px solid #1DA1F2;
}

.Input-Field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: grey;
    font-size: 18px;
}

input:focus{
    color: transparent;
}