{% extends 'base.html' %}
{% load static %}

{% block extrahead %} <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> {% endblock %}

{% block content %}
    <form method="POST">

        {% csrf_token %}

            <input type="text" name="Username" required>
            <input type="password" name="Password" required>
            <input type="submit">
    </form>
    {% if messages %} <!-- Messages for example: Invalid Username -->
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endblock %}