{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <header>Login</header>
    <form method="POST">

        {% csrf_token %}

        <div class="Input-Field">
            <input type="text" name="Username" required>
            <label>Username</label>
        </div>
        <div class="Input-Field">
            <input type="password" name="Password" required>
            <label>Password</label>
        </div>
        <div class="button">
            <div class="inner">
                <button>LOGIN</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}